<nav class="nav flex-column">
  <div class="nav-item">
  	<p class="btn nav-link">Stock</p>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/movimientosDeStock" routerLinkActive="btn-primary">Movimientos de Stock</a>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/stockFisico" routerLinkActive="btn-primary">Stock Fisico</a>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/stockDisponible" routerLinkActive="btn-primary">Stock Disponible</a>
  </div>
  <div class="nav-item">
  	<p class="btn nav-link">Clientes</p>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/nuevoCliente" routerLinkActive="btn-primary">Nuevo Cliente</a>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/modificacionDeDatos" routerLinkActive="btn-primary">Modificacion de Datos</a>
  </div>
  <div class="nav-item">
  	<p class="btn nav-link">Cargas</p>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/consultasAnulacion" routerLinkActive="btn-primary">Consultas / Anulacion</a>
  </div>
  <div class="nav-item">
  	<p class="btn nav-link">Pedidos</p>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/consultasModificacionAnulacion" routerLinkActive="btn-primary">Consultas / Modificacion / Anulacion</a>
  </div>
  <div class="nav-item">
    <a href="#" class="nav-link btn" routerLink="/Creacion" routerLinkActive="btn-primary">Creacion</a>
  </div>
  <div class="nav-item">
  	<p class="btn nav-link">Caja</p>
  </div>
  <div class="nav-item">
  	<a href="#" class="nav-link btn" routerLink="/ingresoDeComprobantes" routerLinkActive="btn-primary">Ingreso de Comprobantes</a>
  </div>
</nav>
